body {
  margin: 0 auto;
  text-align: center;
  padding: 5%;
  width: 100%;
}

section {
  clear: both;
}

section + section {
  margin-top: 1em;
}

label {
  white-space: nowrap;
  margin: 0 .5em;
}

input {
  max-width: 2em;
  text-align: center;
}

h1,
h1 img {
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.match,
.answer {
  font-weight: bold;
  color: rgba(100,100,255,1);
  transition: none;
}

.puzzle {
  border: 2px solid black;
  margin: 2em auto 1em;
  // disable selection for now
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.td--cell {
  border: 1px solid #ccc;
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
}

.td--cell:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.cell {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: 2.5vw;
  font-family: monospace;

  display: flex;
  align-items: center;
  justify-content: center;
}

.oval {
  position: absolute;
  border: .15em solid rgba(100,100,255,.5);
  border-radius: 9em;
  transition: none;
}

.problem-count {
  font-size: 1.5em;
  font-family: monospace;
  font-weight: bold;
}

.problems {
  width: 100%;
  -moz-column-width: 8em;
       -moz-columns: 8em;
    -webkit-columns: 8em;
            columns: 8em;
}

.problem {
  font-family: monospace;
  text-align: right;
  color: black;
  overflow: hidden;
  white-space: nowrap;
}

ol.problems {
  display: inline-block;
  list-style: none;
  padding: 0;
}
ol.problems li:before {
  color: gray;
}

@media print {
  .no-print {
    display: none;
  }
}

*,
*:before,
*:after {
  transition: all 0.3s ease;
  box-sizing: border-box;
}
