body {
  text-align: center;
  padding: 5%;
}

section {
  clear: both;
}

section + section {
  margin-top: 1em;
}

label {
  white-space: nowrap;
  margin: 0 .5em;
}

input {
  max-width: 2em;
  text-align: center;
}

h1,
h1 img {
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
}

td {
  padding: .5em;
  border: 1px solid #ccc;
}

.match {
  font-weight: bold;
  color: rgba(100,100,255,1);
  transition: none;
}

.puzzle {
  font-size: 1.1em;
  border: 2px solid black;
  display: inline-block;
  margin: 2em auto 1em;
}

.oval {
  position: absolute;
  border: .15em solid rgba(100,100,255,.5);
  border-radius: 1em;
  transition: none;
}

@media print {
  .no-print {
    display: none;
  }
}

*,
*:before,
*:after {
  transition: all 0.3s ease
}
