---
title: Math Finder
---
<%# <div id="debug">Debug</div> %>
<h1>Math Finder <%= image_tag 'example.png', width: 88, height: 38, class: 'no-print' %> </h1>
Print for your kids.
Get a pen[cil].
Step away from the computer.
Circle the problems.
Share with your friends.
<span class='problem-count'>?</span> addition problems. Can you find them all? <span class="remaining-num"></span><span class="remaining-label"></span>
<section>
  <div class="puzzle">Loading...</div>
</section>
<section>
  <label>Rows: <input type='text' name='rows' /></label>
  <label>Columns: <input type='text' name='cols' /></label>
  <label>Puzzle #<input type='text' name='seed' /></label>
</section>
<section class="no-print">
  <button class='resize'>Generate/Reset</button>
  <button class='next'>Next</button>
  <button class='random'>Random</button>
</section>
<section class="no-print">
  <label><input type=checkbox name='show-hint'/> Show Hints</label>
  <label><input type=checkbox name='show-solution'/> Show Matches</label>
</section>
<section class="no-print">
  <h2>Problems to find</h2>
  <ol class="problems"></ol>
</section>
